html, body {
    font-family: arial;
    min-width: 300px;
  }
  
  button {
    border: 1px;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
  }
  
  * {
    outline: 0;
  }
  
  .dark {
    background-color: #112F41;
    color: #ffffff;
  }
  
  .white {
    background-color: #f1f1f1;
    color: #ffffff;
  }
  
  .dark button {
    background: #144098;
    color: #fff;
  }
  .white button{
    background-color: #d1a2a2;
    color: #070707;
  }